/*Menu amb el nom de la pagina*/
.capcelera{
    background-color: #B6AEAC;
    text-align: center;
    width: 100%;
    height: 120px;
    position: absolute;
    top:0%;
    left:0%;
    padding-top: 25px;
}
/*Menu amb Les opcions principals de la pagina*/
.general{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    position: absolute;
    top: 120px;
    background-color: rgb(107, 27, 255);
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* menu per Logo, Banner i Iniciar sessió | Meva cistella */
.menu{
    width: 100%;
    position: absolute;
    top: 160px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
/* logo de la empresa */
.divLogo{
    background-color: rgb(92, 92, 227);
    left: 0%;
    height: 200px;
    display: block;
}

/* Banner amb una foto de ofertes especials */
.ofertesformat{
    height: 200px;
    background-color: chartreuse;
    cursor: pointer;
    left: 0px;
    position:relative;
    height: 200px;
    display: block;
}
/* Imatge del banner */
.banner{
    width: 100%;
    height: 200px;
    left: 0px;
}
/* Iniciar sessio | Meva cistella */
.conjunt{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
/* Opció per enllaçar a la pagina web de iniciar sessió */
.iniciarSessioformat{
    background-color: rgb(63, 253, 247);
    cursor: pointer;
    width: 100%;
}
/* opció per enllaçar a la pagina web de la meva cistella */
.mevaCistellaFormat{
    background-color: rgb(221, 218, 218);
    cursor: pointer;
    width: 392px;
    height: 100px;
}
/* Foto de la meva cistella */
.cistellatamany{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
}


