/* Ordenat de forma Alfabetica */
*{
    padding: 0px;
    margin: 0px;
}

a {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing:5px;
    text-decoration: none;
}


h3{
    text-align: center;
}

