.producte{
    height: 400px;
    background-color: azure;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #555;
}

/* Div General de tots els productes */
.Productes{
    position: absolute;
    top: 360px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    width: 100%;
    align-items: center;
    gap: 1%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
}
/* Posar la imatge del producte dalt del div */
.topdiv{
    height: 50%;
    width: 60%;
}
/* Tamany imatge producte */
.imatgeDestacada{
    height: 100%;
    width: 100%;
}

.Descripcio{
    height: 40%;
    width: 100%;
    text-align: center;
}

.Preu{
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
}

