.producte{
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Div General de tots els productes */
.Productes{
    position: absolute;
    top: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
}
/* Posar la imatge del producte dalt del div */
.topdiv{
    height: 60%;
    width: 90%;
    background-color: rgb(250, 250, 250);
}
/* Tamany imatge producte */
.imatgeDestacada{
    height: 100%;
    width: 100%;
}

.Descripcio{
    background-color:rgb(255, 255, 255);
    height: 40%;
    width: 100%;
}

.Preu{
    background-color: aliceblue;
    color: red;
    font-size: 50px;
    text-align: end;
}

